{{ define "main" }}
<link
  rel="stylesheet"
  href="https://cdn.materialdesignicons.com/6.5.95/css/materialdesignicons.min.css"
/>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<div class="flex items-center justify-center min-h-screen bg-white">
  <div class="flex flex-col mt-2">
    <div class="container max-w-7xl px-4">
      <div class="w-full flex flex-wrap justify-center text-center mb-6">
        <div class="w-full lg:w-6/12 px-4">
          <!-- Header -->
          <h1 class="text-gray-900 text-3xl font-bold mb-4">Meet the Team</h1>

          <!-- Description -->
          <p class="text-gray-700 text-lg font-light">
            With over 100 years of combined experience, we've got a
            well-seasoned team at the helm.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        {{ range .Pages.ByWeight }}
        <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-3 sm:px-4">
          {{ .Render "intro" }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
